body {
  background-color: #7FCCFF;
  color: black;
  font-family: 'Esteban', serif;

  font-size: 14px;
  box-sizing: border-box;
}
body  .company-Name{
  font-size: 36px;
  font-weight: 700;
  color: black;
}
a{
  color: black;
}
#general{
  position: relative;
  text-align: center;
  background-color: #FF9D7F;
  border-radius: 30px;
  color: black;

}
.contact-info{
  margin-top: 15rem;
}
.contact-info-header{
  font-size: 3rem;
  margin-bottom: 0;
}
.contact-info-subHeader{
  font-size: 2rem;

}
.bkg-img{
  position: absolute;
  height: 95%;
  width: 100%;
  overflow: hidden;
}
.row{
  position: relative;
}
.noGutters {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right:  0;
}
#navbar{
  color: black;
  background-color: #f9f9f9;
  font-family: 'Epilogue', serif;

}

#logo{
  width: 70px;
  height: 70px;
}
@media (min-width: 576px){
  #logo{
    width: 55px;
    height: 47px;
  }
  body {
    font-size: 1rem;
  }
  body  .company-Name{
    text-align: center;
    font-size: 12px;
  }
}
  @media (min-width: 768px){
    #logo{
      width: 55px;
      height: 47px;
    }
    .splashScreen{
      font-size: 3rem;
    }
    body {
      font-size: 1rem;
    }
    body  .company-Name{
      text-align: center;
      font-size: 18px;
    }


}
@media (min-width: 1024px){
  #logo{
    width: 55px;
    height: 47px;
  }
  .splashScreen{
    font-size: 3rem;
  }
  body {
    font-size: 14px;
  }
  body  .company-Name{
    text-align: center;
    font-size: 24px;
  }
  .contact-info-header{
    font-size: 2em;
    margin-bottom: 0;
  }
  .contact-info-subHeader{
    font-size: 1.5em;

  }
}
@media (min-width: 1700px){
  #logo{
    width: 55px;
    height: 47px;
  }
  body {
    font-size: 14px;
  }
  body  .company-Name{
    text-align: center;
    font-size: 24px;
  }
  .contact-info-header{
    font-size: 3em;
    margin-bottom: 0;
  }
  .contact-info-subHeader{
    font-size: 2em;

  }
}
@media (min-width: 1920px){
  body .company-Name {
      text-align: center;
      font-size: 36px;
  }
  body {
    font-size: 1.5rem;
  }
  body .company-Name {
      text-align: center;
      font-size: 36px;
  }
  .contact-info-header{
    font-size: 4em;
    margin-bottom: 0;
  }
  .contact-info-subHeader{
    font-size: 3em;

  }
}
